[submodule "external/FindWDK"]
	path = external/FindWDK
	url = https://github.com/SergiusTheBest/FindWDK.git
[submodule "external/vcrtl"]
	path = external/vcrtl
	url = https://github.com/avakar/vcrtl.git
